.searchBar {
  margin: auto;
  width: 50%;
  height: 50%;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.searchButton {
  width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
